@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* header banner styles */


.banner-bg {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
}
.banner-container {
    text-align: center;
    padding: 185px 344px;
    position: relative;

}

.banner-title {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: "Merriweather", serif;
    position: absolute;
    top: 140px;
    right: 0;
    left: 8px;
}

.banner-info {
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    font-family: "Merriweather", serif;
}

/* main styles */

main {
    margin: 120px;
}

.categories {
    text-align: center;
    align-items: center;
}

.discount {
    font-family: "Inter", serif;
    font-size: 88px;
    color: #FF0000;
    font-weight: 700px;
    margin-bottom: 48px;
}

.discount-title {
    font-family: "Inter", serif;
    font-size: 24px;
    color: #FF0000;
    font-weight: 600px;
    margin-bottom: -24px;
}

/* celebration section styles */

.categories-list {
    font-family: "Inter", serif;
    font-size: 48px;
    color: #070211;
    font-weight: 700px;
    margin-bottom: 48px;
}

.celebration-bg {
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;
    display: flex;
}

.new-year img {
  margin-top: 68px;
  margin-left: 28px;
}

.celebration-info {
    width: 700px;
    padding-left: 126px;
    padding-top: 76px;
}

.celebration-info .celebration-title {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    letter-spacing: 7px;
    margin-bottom: 24px;
}

.celebration-description {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
    line-height: 30px;
    font-family: "Inter", serif;
    margin-bottom: 48px;
}

.join-btn {
    font-family: "Inter", serif;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

 
/* holiday section styles */

.holiday-info {
    width: 1320px;
    margin: 0 auto;
}

.joining-info {
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    padding: 100px 386px 214px 385px;
    text-align: center;
}

.joining-info p {
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: -25px;
}

.joining-info span {
    color: #FF0000;
}

.joining-btn {
    width: 167px;
    padding: 16px 32px;
    background-color: #FF0000;
    font-size: 20;
    font-weight: 700;
    margin: 0 auto;
    font-family: "Inter", serif;
    border-radius: 8px;
    color: #fff;
    margin-top: 56px;
    cursor: pointer;
}

/* offer section styles */

.offer-container {
    display: flex;
    justify-content: space-between;
}

.best-offer {
    width: 393px;
}

.offer-title {
    font-family: "Inter", serif;
    color: #FF0000;
    font-size: 20px;
    font-size: 500;
    margin-top: 53px;
}

.offer-release {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather", serif;
     margin-bottom: 22px;
    margin-top: 16px;
}


.offer-description, .year-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;

}

.celebration-image {
    width: 463px;
}

.year {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.new-year-des {
    width: 300px;
}

.celebration-image img {
    border: 15px solid #F00;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    padding: 25px;
  }

  /* discount section styles */

  .discount-container {
    text-align: center;
    margin: 120px;
  }

  .discount-container-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }

  .discount-container span {
    font-size: 72px;
    color: #FF0000;
    font-weight: 900;
    font-family: "Merriweather", serif;
  }
  .discount-offer {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    margin-top: 16px;
    margin-bottom: 28px;
  }

  .discount-description {
    width: 860px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }

  .big-offer {
    color: rgb(255, 255, 255);
    font-family: "Inter", serif;
    font-size: 24.34px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 76px;
  }
  .discount-tag span {
    color: rgb(255, 255, 255);
    font-family: "Inter", serif;
    font-size: 73.02px;
    font-weight: 900;
    line-height: 29px;
  }

  .discount-tag {
    width: 207px;
    height: 207px;
    border-radius: 50%;
    background-color: #FF0000;
    text-align: center;
    rotate: -34.21deg;
    margin-top: 285px;
    margin-bottom: 50px;
    margin-left: 74%;
  }

  .red-box {
    width: 1320px;
    height: 229px;
    background-color: #FF0000;
    margin: 0 auto;
    border-radius: 16px 0 16px 16px;
    position: relative;
    margin-top: 146px;
  }

  


  .discount-image img {
    position: absolute;
    z-index: 1;
    right: 47%;
    top: 473%;
    width: 674px;
    height: 577px;
  }

  /* portfolio section styles */

  .title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

  }

  .portfolio-title {
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
  }

  .portfolio-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-bottom: 48px;
  }

  .title, .portfolio-title, .portfolio-description {
    margin-left: 171px;
  }

  .portfolio-images {
    margin-left: 171px;
    cursor: pointer;
  }

  .portfolio-images img {
    width: 424px;
    height: 450px;
    margin-bottom: 24px;
    margin-right: 21px;
  }

  /* subscribe section styles */

  .subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin-left: 171px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: center;
  }

  .subscribe img {
    margin-top: 80px;
  }

  .newsletter {
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 22px;
  }

  .subscribe-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding: 0 212px;
    margin-bottom: 48px;
  }

  form {
    position: relative;
  }
  form input {
    width: 380px;
    height: 22px;
    border: none;
    border-radius: 50px 0 0 50px;
    margin-left: -231px;
    padding: 25px 30px;
    color: rgba(7, 2, 17, 0.3);
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  input [type="email"] {
    margin-left: 2px;
  }

  .subs-btn {
    background-color: #FF0000;
    width: 224px;
    height: 72px;
    border: none;
    border-radius: 0 50px 50px 0;
    color: #fff;
    position: absolute;
    top: 0;
    right: 330px;
    bottom: 0;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    cursor: pointer;
  }

  /* footer styles */

  footer {
    background-color: #070211;
    height: 729px;
    color: #fff;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
  }

  .footer-container {
    width: 1320px;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  
.address, .phone-address {
  margin-top: 120px;
  margin-bottom: 50px;
}

.phone-address {
  margin-right: 130px;
}

.social-icons {
  cursor: pointer;
}

.social-icons img {
  margin: 48px 0 48px 24px;
}


.phone-address i {
  margin-right: 10px;
}
.number i {
  margin-right: 25px;
}
.web-address {
  margin-left: 54px;
}
.number {
  margin-left: 48px;
}








